<!-- Layui -->
<link href="/layui/css/layui.css" rel="stylesheet">
<script src="/layui/layui.js"></script>

<div class="layui-footer layui-bg-green">
    <div class="layui-row layui-bg-orange" style="height: 5px"></div>
    <div class="layui-container" align="center">
        <hr class="layui-border-black">
        <div class="layui-row">
            <div class="layui-col-md8">
                <div class="layui-col-md3">
                    <div class="layui-row">
                        <h4><b>产品服务</b></h4>
                    </div>
                    <div class="layui-row" style="height: 20px"></div>
                    <div class="layui-row">
                        <h5><a href="/YoE/order/place" class="layui-font-gray">常规寄件</a></h5>
                    </div>
                    <div class="layui-row" style="height: 20px"></div>
                    <div class="layui-row">
                        <h5><a href="/YoE/order/search" class="layui-font-gray">订单查件</a></h5>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="layui-row">
                        <h4><b>服务支持</b></h4>
                    </div>
                    <div class="layui-row" style="height: 20px"></div>
                    <div class="layui-row">
                        <h5><a href="/YoE/rule/fee" class="layui-font-gray">费用公示</a></h5>
                    </div>
                    <div class="layui-row" style="height: 20px"></div>
                    <div class="layui-row">
                        <h5><a href="/YoE/rule/limit" class="layui-font-gray">限寄规则</a></h5>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="layui-row">
                        <h4><b>科技赋能</b></h4>
                    </div>
                    <div class="layui-row" style="height: 20px"></div>
                    <div class="layui-row">
                        <h5><a href="https://hugegraph.apache.org/cn/" target="_blank" class="layui-font-gray">图数据库 HugeGraph</a></h5>
                    </div>
                    <div class="layui-row" style="height: 20px"></div>
                    <div class="layui-row">
                        <h5><a href="https://spring.io/" target="_blank" class="layui-font-gray">后端框架 Spring</a></h5>
                    </div>
                    <div class="layui-row" style="height: 20px"></div>
                    <div class="layui-row">
                        <h5><a href="http://layui.org.cn/index.html" target="_blank" class="layui-font-gray">前端UI框架 Layui</a></h5>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="layui-row">
                        <h4><b>关于邮易</b></h4>
                    </div>
                    <div class="layui-row" style="height: 20px"></div>
                    <div class="layui-row">
                        <h5><a href="/YoE/about/project_YoE" class="layui-font-gray">项目简介</a></h5>
                    </div>
                    <div class="layui-row" style="height: 20px"></div>
                    <div class="layui-row">
                        <h5><a href="/YoE/about/author_Yu_Weiyi" class="layui-font-gray">项目作者</a></h5>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-row">
                    <h4><b>联系方式</b></h4>
                </div>
                <div class="layui-row" style="height: 20px"></div>
                <div class="layui-row">
                    <button type="button" class="layui-btn layui-btn-radius layui-btn-normal layui-bg-gray"
                            id="btn_tip_email" onmouseenter="btn_show_tip_email()">
                        <i class="layui-icon layui-icon-email"></i>
                    </button>
                    <button type="button" class="layui-btn layui-btn-radius layui-btn-normal layui-bg-gray"
                            id="btn_tip_qq" onmouseenter="btn_show_tip_qq()">
                        <i class="layui-icon layui-icon-login-qq"></i>
                    </button>
                    <button type="button" class="layui-btn layui-btn-radius layui-btn-normal layui-bg-gray"
                            id="btn_tip_wechat" onmouseenter="btn_show_tip_wechat()">
                        <i class="layui-icon layui-icon-login-wechat"></i>
                    </button>
                </div>
            </div>
        </div>
        <hr class="layui-border-black">
        <div class="layui-row">
            <div class="layui-col-md3">
                <b4><b>友情链接：</b></b4>
            </div>
            <div class="layui-col-md2">
                <h5><a href="http://10.16.63.192:8000/" class="layui-font-gray">恒达科技</a></h5>
            </div>
            <div class="layui-col-md2">
                <h5><a href="http://139.9.154.99/" class="layui-font-gray">蜂翼动画 FY</a></h5>
            </div>
        </div>
        <hr class="layui-border-black">
        <div class="layui-row" style="height: 20px"></div>
        <div class="layui-row">
            ©2023 Yu Weiyi. All Rights Reserved.
        </div>
        <div class="layui-row" style="height: 50px"></div>
    </div>
</div>