<!-- Layui -->
<link href="/layui/css/layui.css" rel="stylesheet">
<script src="/layui/layui.js"></script>

<div class="layui-header">
    <div class="layui-row">
        <div class="layui-col-md1 layui-col-md-offset1">
            <img src="/static/image/logo_YoE.png" height="30px"/>
        </div>
        <div class="layui-col-md2 layui-col-md-offset1 layui-font-20">
            邮易 YoE 仓储物流
        </div>
    </div>
    <div class="layui-row">
        <ul class="layui-nav layui-bg-green" lay-filter="">
            <li class="layui-nav-item layui-this">
                <a href="/YoE/index.jsp"><i class="layui-icon layui-icon-home"></i> 首页</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="layui-icon layui-icon-form"></i> 业务办理</a>
                <dl class="layui-nav-child layui-bg-green">
                    <dd><a href="/YoE/order/place">我要寄件</a></dd>
                    <dd><a href="/YoE/order/search">我要查件</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="layui-icon layui-icon-user"></i> 国内物流服务</a>
                <dl class="layui-nav-child layui-bg-green">
                    <dd><a href="/YoE/domestic/speedpost">国内特快速递<span class="layui-badge layui-bg-orange">荐</span></a></dd>
                    <dd><a href="/YoE/domestic/cold_chain_logistics">国内冷链物流</a></dd>
                    <dd><a href="/YoE/domestic/offsite_warehousing">国内异地仓储</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="layui-icon layui-icon-website"></i> 国际物流服务</a>
                <dl class="layui-nav-child layui-bg-green">
                    <dd><a href="/YoE/international/air_mailing">国际空运邮寄</a></dd>
                    <dd><a href="/YoE/international/bulk_shipping">国际大宗水运</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="layui-icon layui-icon-fonts-code"></i> 科技赋能</a>
                <dl class="layui-nav-child layui-bg-green">
                    <dd><a href="https://hugegraph.apache.org/cn/" target="_blank">图数据库 Hugegraph</a></dd>
                    <dd><a href="https://spring.io/" target="_blank">后端框架 Spring</a></dd>
                    <dd><a href="http://layui.org.cn/index.html" target="_blank">前端UI框架 Layui</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="layui-icon layui-icon-about"></i> 关于</a>
                <dl class="layui-nav-child layui-bg-green">
                    <dd><a href="/YoE/about/project_YoE">关于邮易</a></dd>
                    <dd><a href="/YoE/about/author_Yu_Weiyi">关于作者</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="layui-icon layui-icon-link"></i> 友情链接</a>
                <dl class="layui-nav-child layui-bg-green">
                    <dd><a href="http://10.16.63.192:8000/" target="_blank">恒达科技</a></dd>
                    <dd><a href="http://139.9.154.99/" target="_blank">蜂翼动画 FY</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>